# Ignore everything by default
*

# Un-ignore the .gitignore file itself
!.gitignore

# Un-ignore core Unity project folders
!/Assets/
!/ProjectSettings/
!/[Aa]ssets/

# Un-ignore Unity's Package Manager files
!/[Pp]ackages/*
!/[Pp]rojectSettings/*