# Ignore everything by default
*

# Un-ignore the .gitignore file itself
!.gitignore

# Ignore Big file by default
*.psd

# Un-ignore Unity default setting files [Basic]
!/Packages/
!/Packages/*
!/ProjectSettings/
!/ProjectSettings/*



# Un-ignore project folders
!/Assets

# Un-ignore Scene Folder
!/Assets/Scene
!/Assets/Scene.meta
!/Assets/Scene/**


# Un-ignore Script Folder
!/Assets/Script
!/Assets/Script.meta
!/Assets/Script/**