# Ignore everything by default
*

# Un-ignore the .gitignore file itself
!.gitignore

# Un-ignore core Unity project folders
!/Assets/
!/ProjectSettings/

# Unignore Unity's Package Manager files (crucial for packages)
!/Packages/